{
  "project_info": {
    "project_number": "614740365885",
    "project_id": "whatsapp-saas-d7e5c",
    "storage_bucket": "whatsapp-saas-d7e5c.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:614740365885:android:REPLACE_WITH_YOUR_APP_ID",
        "android_client_info": {
          "package_name": "com.whatsappsaas.mobile"
        }
      },
      "oauth_client": [
        {
          "client_id": "614740365885-REPLACE_WITH_YOUR_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "614740365885-REPLACE_WITH_YOUR_WEB_CLIENT_ID.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}

